*, *::before, *::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  background: rgb(255, 255, 255);
}
.calculator-grid{
  display: grid;
  justify-content:center ;
  margin-top: 32px;
  grid-template-columns: repeat(4, 71px);
  grid-template-rows: minmax(4rem, auto) repeat(5, 72px);
}

.img{
  width: 30px;
  height: 30px;
  margin: auto;

}

.calculator-grid > button{
  margin: 3px;
  cursor: pointer;
  font-size: 18px;
  border: 1px none;
  outline: none;
  border-radius: 24px;
}

.calculator-grid > button:focus{
  background-color: rgba(241, 242, 243, 1);
}

.operation{
  background-color: rgba(75, 94, 252, 1);
}
.btnUp{
  background-color: rgba(210, 211, 218, 1);
}
button{
  background-color: #fff;
}

.output{
  margin-bottom: 12px;
  padding: 12px;
  display: flex;
  grid-column: 1/ -1;
  flex-direction: column;
  align-items: flex-end;
  justify-self: space-around;
  word-wrap: break-word;
  word-break: break-all;
  }
.output .prev-operand{
  color: rgba(0, 0, 0, 0.50);
  font-size: 20px;
}
.output .cur-operand{
  color: #111;
  font-size: 28px;
}
.container{
  background: rgba(241, 242, 243, 1);
  border-radius: 10px;
  height: 480px;
  width: 300px;
}
